.grid-container{
    grid-template:
    "a a a"
    "b c d"
    "b e e"
    "f f f";
    background-color: #333333;
    color: #444;
    padding: 20px;
    height: 90vh;
    display: grid;
    grid-gap: 20px;
}
.a{
  grid-area: a;
}
.b{
  grid-area: b;
}
.c{
  grid-area: c;
}
.d{
  grid-area: d;
}
.e{
  grid-area: e;
}
.f{
  grid-area: f;
}

.item{
    background-color: #3092d7;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 3em;
}