.img{
    background-color: rgba(128, 128, 128, 0.252);
    align-items: center;
    justify-content: center;
    display: flex;
}

#big-pic{
    width: 100%;
    height: 200px;
}
.card-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
}

.btn{
    padding: 10px;
    width: 100%;
    background: gray;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

#span2 {
  grid-column: span 2;

}

